/*
div{
	
	color: grey;
}
.caixa {
	border-radius: 5px;
	border-color: antiquewhite;
	border-style: outset;
	border-width: 2px;
	background-color: white;
	
}
.miniatura{
	width: 150px;
	height: 150px;
	display: inline;
	
}
.conteudo{
	max-width: 400px;
	padding: 5px;
	margin: auto;

}
body{
	background-color: lightgrey;
	
}
div{
	display: inline;
}
.noticia{
	color: grey;
	font-family: sans-serif;
	display:inline;
}
*/

.caixa{
	float: left;
	width: 100%;
	margin: 0.5%
}

.caixa2{
	width: 45%;
}

.branco{
	background-color: white
}

.clearfix {
	content: ' ';
	display: table;
}