div{
	
	color: grey;
}
.caixa {
	border-radius: 5px;
	border-color: antiquewhite;
	border-style: outset;
	border-width: 2px;
	background-color: white;
	
}
.miniatura{
	width: 150px;
	height: 150px;
	
}
.conteudo{
	max-width: 400px;
	padding: 5px;
	margin: auto;

}
body{
	background-color: lightgrey;
	display: inline-block;
}