
.caixa {
	
	float: left;
	width: 400px;
	
}
.miniatura{
	width: 200px;
	height: 200px;
}

.fundo{
	border-radius: 5px;
	border-color: antiquewhite;
	border-style: outset;
	border-width: 2px;
	background-color: white;

	
}
div{
	display: inline;
}

.caixa2{
	width: 200px;
}

.branco{
	background-color: white
}

.clearfix {
	content: ' ';
	display: table;
}
.letra{
	color: grey;
	font-family: sans-serif;
	font-weight: bold;
	font-size: 20px;
	padding: 9px;
}
.miniatura2{
	width: 100px;
	height: 35px;
	float: right;
}

p{
	font-size: 14px;
	display: inline;
}